:root {
  --background: white;
  --foreground: #2c2b2f;
  --primary: #f1c516;
  --grey-10: rgb(235, 235, 235);
  --grey-20: rgb(225, 225, 225);
  --grey-30: rgb(215, 215, 215);
  --border: var(--grey-30);
  --destructive: #ea2225;
  --success: #1baa3f;
  --blue: #1e78df;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: var(--background);
  color: var(--foreground);

}

* {
  box-sizing: border-box;
  overflow-x: hidden;
}

section {
  padding: 40px 40px 40px 80px;
}

.block {
  background-color: var(--grey-10);
  border-radius: 8px;
  width: 28%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
}

p {
  margin: 0;
}

.h1-subtitle {
  font-size: 20px;
  color: gray;
  margin-top: -10px;
  margin-bottom: 40px;
}

.h2-subtitle {
  font-size: 16px;
  color: gray;
  margin-top: -24px;
  margin-bottom: 10px;
}

button,
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52px;
  width: 100%;
  max-width: 300px;
  border-radius: 8px;
  border: none;
  background-color: var(--primary);
  color: white;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}

button:hover,
.btn:hover {
  filter: brightness(0.84);
}

input, label:has(input[type='file']) {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52px;
  border-radius: 8px;
  border: 2px solid var(--border);
  font-size: 16px;
  transition: 0.3s;
  padding: 0 12px;
  width: 100%;
  max-width: 300px;
  outline: none;
  cursor: pointer;
}

input:focus {
  border-color: var(--primary);
}

.input-error {
  border-color: var(--destructive);
}

.input-error:focus {
  border-color: var(--destructive);
}

.input-errror__text {
  color: var(--destructive);
  font-size: 16px;
}

input[type='file'] {
  all: unset;
  width: 0;
  height: 0;
}

a {
  color: inherit;
  text-decoration: none;
  position: relative;
}

a::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 2px;
  width: 0;
  background-color: currentColor;
  transition: 0.3s;
}

a:hover::after {
  width: 100%;
}

a.btn::after {
  content: none;
}

.flex-12 {
  display: flex;
  gap: 12px;
}

.flex-24 {
  display: flex;
  gap: 24px;
}

.flex-32 {
  display: flex;
  gap: 32px;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 0 8px;
}

th {
  text-align: start;
}

td {
  border-top: 1px solid black;
  height: 80px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 48px;
  width: 100%;
}

.w-full {
  width: 100%;
  max-width: none;
}

.h-screen {
  min-height: 100dvh;
}

.center {
  margin: auto;
}

form {
  display: flex;
  width: 100%;
  max-width: 400px;
  flex-direction: column;
  gap: 12px;
}

.success {
  background-color: var(--success);
}

.destructive {
  background-color: var(--destructive);
}

.foreground {
  background-color: var(--foreground);
}

.blue {
  background-color: var(--blue);
}

.primary {
  background-color: var(--primary);
}

.unset {
  all: unset;
}

.delete-item {
  width: 100%;
  max-width: 300px;
}

.alert-success {
  padding: 15px 40px;
  background-color: var(--success);
  color: var(--background);
  margin-bottom: 20px;
  animation: hide forwards 6s;
}

@keyframes hide {
  0% {
    opacity: 1;
    max-height: 500px;
  }

  90% {
    opacity: 0;
    max-height: 500px;
    margin-bottom: 20px;
  }

  100% {
    opacity: 0;
    max-height: 0;
    margin-bottom: 0;
    display: none;
  }
}

.paginate-cell {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--border);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  overflow: hidden;
}

.pagination {
  display: flex;
  gap: 8px;
  margin: 0 auto;
  justify-content: center;
}